<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<!--Error button-->
<!--<%= button_to "Enviar", :action => "servicios" %>-->
<!--Functional button-->
<%= button_to "Enviar", servicios_path %>